{% load staticfiles %}
{% load monitor_tags %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Baby Monitor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'monitor/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'monitor/js/jquery-2.0.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/socket.io.js' %}"></script>
	<script type="text/javascript" src="{% static 'monitor/js/monitor.js' %}"></script>
</head>


<body>
    <div class="navbar">
      <div class="navbar-inner">
          <a class="brand" href="{% url 'monitor:home' %}">Dr. Orwell's Small Human Monitor</a>
        <ul class="nav">
          <li {{ request.path|is_active:''|safe }}><a href="{% url 'monitor:home' %}">Home</a></li>
          <li {{ request.path|is_active:'cries'|safe }}><a href="{% url 'monitor:cries' %}">History</a></li>
          <li {{ request.path|is_active:'options'|safe }}><a href="{% url 'monitor:options' %}">Options</a></li>
          <li {{ request.path|is_active:'users'|safe }}><a href="{% url 'monitor:users' %}">Users</a></li>
          <li><a href="#">More Products</a></li>
      </ul>
      <ul class="nav" style="float: right;">
          <li><a href="{% url 'logout_view' %}">Logout</a></li>
      </ul>
      </div>
    </div>

  <div class="container">
      <div id="content" class="row">
        {% block content %}{% endblock %}
    </div>
  </div>

</body>
</html>

