{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baby Monitor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'monitor/bootstrap.min.css'%}">
</head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Dr. Orwell's Small Human Monitor</a></li>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">Options</a></li>
          <li><a href="#">More Products</a></li>
        </ul>
      </div>
    </div>
  <div id="content" class="row-fluid offset1">
    <h1 class>Surveillance Home</h1>
    <div class="row-fluid">
      <div id="baby-stats" class="span4">
        <h2>Your brood has been sleeping for 1h 43m</h2>
        <h4>We know. We've been watching.</h4>
      </div>
      <div id="main-stream" class="span8">
        <img src="{% static 'monitor/dr-orwell.png' %}">
      </div>
    </div>
  </div>
</body>
</html>

