{% extends "monitor/base.html" %}
{% load jsonify %}

{% block content %}

<h1>Options</h1>
<h4>Your configuration is my command</h4>
    <fieldset>
        <legend>Manage Babies</legend>
        <a href="{% url 'monitor:options' %}"><button id="delete-btn" class="btn btn-danger">Delete This Baby</button></a>
        <a href="{% url 'monitor:create_baby' %}"><button class="btn">New Baby</button></a>
    </fieldset>

    <fieldset>
        <legend>Alert Thresholds</legend>
        <label>Volume</label>
        <div class="input-prepend input-append">
            <input id="max_vol" class="input-small" name="max_vol" type="text">
        </div>
        <label>Max Temperature</label>
        <div class="input-prepend input-append">
            <input id="max_temp" class="input-small" name="max_temp" type="text"> 
        </div>
        <label>Min Temperature</label>
        <div class="input-prepend input-append">
            <input id="min_temp" class="input-small" name="min_temp" type="text">
        </div>
    </fieldset>
    <fieldset>
    <legend>Notification Methods</legend>
        <label class="checkbox">
            <input type="checkbox" value="">
                Alert Window
        </label>
        <label class="checkbox">
            <input type="checkbox" value="">
                SMS 
        </label>
        <label class="checkbox">
            <input type="checkbox" value="">
                Email 
        </label> 
        <label class="checkbox">
            <input type="checkbox" value="">
                Tweet 
        </label>

    </fieldset>
    
<script type="text/javascript">
    {% if babies %}
        var babies = {{ babies|jsonify }};
    {% endif %}


    $('.input-small').before('<button class="btn down-btn">decrease</button>');
    $('.input-small').after('<button class="btn up-btn">increase</button>');
    $('label').css('margin-top', 10);
    $('#delete-btn').text('Delete ' + $('#baby-select option:selected').text());
    $('#delete-btn').click(function() {
        if (confirm('Do you want to delete ' + $('#baby-select option:selected').text() + '?')) {
            saveData('delete', '0');
        }
    });
    updateForm();

	$('#baby-select').change(updateForm);

    $('.down-btn').click(function() {
        var val = parseFloat($(this).siblings('input').val());
        val -= 1;
        $(this).siblings('input').val(val);
        var field = $(this).siblings('input').attr('name');
        saveData(field, val);
		babies[activeBaby()]['fields'][field] = val;
	
    });

    $('.up-btn').click(function() {
        var val = parseFloat($(this).siblings('input').val());
        val += 1;
        $(this).siblings('input').val(val);
        var field = $(this).siblings('input').attr('name');
        saveData(field, val);
		babies[activeBaby()]['fields'][field] = val;

    });

    $('.input-small').change(function() {
        var field = $(this).attr('name');
        var val = $(this).val();
        saveData(field, val);
		babies[activeBaby()]['fields'][field] = val;
    });

    function updateForm() {
        var baby = babies[activeBaby()]['fields'];
        $('#max_vol').val(baby['max_vol']);
        $('#max_temp').val(baby['max_temp']);
        $('#min_temp').val(baby['min_temp']);
        saveData('active', '0');
    }

    function activeBaby() {
        for(var i=0; i<babies.length; i++) {
            if(babies[i]['pk'] == $('#baby-select option:selected').text()) {
				return i;
            }
        }
    }

</script>
{% endblock %}

