{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Baby Monitor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'monitor/bootstrap.min.css' %}">
    <style type="text/css">
        html, body, .container {
            height: 100%;
            width: 100%;
        }
        #content {
            margin: 4% 0 0 10%;
        }
        form {
            margin-top: 50px;
        }
    </style>
	<script type="text/javascript" src="{% static 'monitor/js/jquery-2.0.0.min.js' %}"></script>
</head>

<body>

  <div class="container">
      <div id="content" class="row">
        {% block content %}{% endblock %}
    </div>
  </div>

</body>
</html>

