{% extends "base.html" %}

{% block content %}
<h1>LOG IN, ALREADY</h1>
<a href="{% url 'register' %}">Are you new here?</a>
<form class="form-horizontal" action="{% url 'login_view' %}" method="post">
	{% csrf_token %}
    <div class="control-group">
        <div class="controls">
            <div style="color:red;">{% if error_message %}{{ error_message }}{% endif %}</div>
        </div>
    </div>
	<div class="control-group">
		<label class="control-label" for="input-username">Email</label>
		<div class="controls">
            <input id="input-username" type="text" name="username" placeholder="Email">
        </div>
    </div>
    <div class="control-group">
		<label class="control-label" for="input-password">Password</label>
		<div class="controls">
            <input id="input-password" type="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" name="submit" class="btn">Sign in</button>
        </div>
    </div>
</form>
{% endblock %}
	
